body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h1 {
  padding: 40px;
  text-align: center;
  background-color: #D1D2D3;
}

header {
  align-items: center;
}

input {
  display: block;
  height: 25px;
  width: 200px;
  margin: 5px auto;
  padding: 5px;
}

button {
  display: block;
  padding: 5px;
  margin: 10px auto;
}

article {
  display: inline-block;
  width: 275px;
  margin: 25px;
  border: 1px solid #666666;
  padding: 5px 15px;
  background-color: #D1D2D3;
}

h1, h2 {
  text-shadow: 2px 2px #F2F2F2;
}

img {
  height: 200px;
  width: 200px;
}
